:root { 
--indigo_300:#6977d1; 
--gray_400:#bcbcbc; 
--black_900:#000000; 
--blue_gray_600:#4f5684; 
--gray_900:#0f1624; 
--blue_gray_900:#16294f; 
--cyan_600:#13adc7; 
--white_A700:#ffffff; 
--deep_purple_300:#945dd6; 
}